<div class="container">
    <div class="derecha">
        <div class="header">
            <div class="userimg">
                <img src="../../assets/fondo2.png" alt="" class="cover">
            </div>
           
        </div>
        <!-- chat lista -->
        <div class="chat_lista">
            <!-- chat 1 -->
            <div class="block activo">
                <div class="imgbx">
                    <img src="../../assets/chat_masivo.png" class="cover">
                </div>
                <div class="detalle">
                    <div class="listahead">
                        <h4>Pedro vite</h4>
                        <p class="tiempo">10:56</p>
                    </div>
                    <div class="sms">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur itaque a quas in
                            aliquam quasi reiciendis, beatae qui facere, possimus sed quod culpa aliquid dolore non
                            eveniet hic dignissimos.</p>
                        <b>2</b>
                    </div>
                </div>
            </div>
            <!-- chat 2 -->
            <div class="block unread">
                <div class="imgbx">
                    <img src="../../assets/chat_masivo.png" class="cover">
                </div>
                <div class="detalle">
                    <div class="listahead">
                        <h4>Maria Chacha</h4>
                        <p class="tiempo">10:56</p>
                    </div>
                    <div class="sms">
                        <p>hola que tal como estas</p>
                        <b>1</b>
                    </div>
                </div>
            </div>

            <!-- chat 3 -->
            <div class="block">
                <div class="imgbx">
                    <img src="../../assets/chat_masivo.png" class="cover">
                </div>
                <div class="detalle">
                    <div class="listahead">
                        <h4>Juan Perez</h4>
                        <p class="tiempo">10:56</p>
                    </div>
                    <div class="sms">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur itaque a quas in
                            aliquam quasi reiciendis, beatae qui facere, possimus sed quod culpa aliquid dolore non
                            eveniet hic dignissimos.</p>
                        <b>2</b>
                    </div>
                </div>
            </div>

            <!-- chat 4 -->
            <div class="block">
                <div class="imgbx">
                    <img src="../../assets/chat_masivo.png" class="cover">
                </div>
                <div class="detalle">
                    <div class="listahead">
                        <h4>Yuli Loor</h4>
                        <p class="tiempo">10:56</p>
                    </div>
                    <div class="sms">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur itaque a quas in
                            aliquam quasi reiciendis, beatae qui facere, possimus sed quod culpa aliquid dolore non
                            eveniet hic dignissimos.</p>
                        <b>2</b>
                    </div>
                </div>
            </div>
            <!-- chat 5 -->
            <div class="block">
                <div class="imgbx">
                    <img src="../../assets/chat_masivo.png" class="cover">
                </div>
                <div class="detalle">
                    <div class="listahead">
                        <h4>Mateo Vera</h4>
                        <p class="tiempo">10:56</p>
                    </div>
                    <div class="sms">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur itaque a quas in
                            aliquam quasi reiciendis, beatae qui facere, possimus sed quod culpa aliquid dolore non
                            eveniet hic dignissimos.</p>
                        <b>2</b>
                    </div>
                </div>
            </div>
            <!-- chat 6 -->
            <div class="block unread">
                <div class="imgbx">
                    <img src="../../assets/chat_masivo.png" class="cover">
                </div>
                <div class="detalle">
                    <div class="listahead">
                        <h4>Pepita</h4>
                        <p class="tiempo">10:56</p>
                    </div>
                    <div class="sms">
                        <p>hola que tal como estas</p>
                        <b>1</b>
                    </div>
                </div>
            </div>

            <!-- chat 7 -->
            <div class="block">
                <div class="imgbx">
                    <img src="../../assets/chat_masivo.png" class="cover">
                </div>
                <div class="detalle">
                    <div class="listahead">
                        <h4>Pepito</h4>
                        <p class="tiempo">10:56</p>
                    </div>
                    <div class="sms">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur itaque a quas in
                            aliquam quasi reiciendis, beatae qui facere, possimus sed quod culpa aliquid dolore non
                            eveniet hic dignissimos.</p>
                        <b>2</b>
                    </div>
                </div>
            </div>

            <!-- chat 8 -->
            <div class="block">
                <div class="imgbx">
                    <img src="../../assets/chat_masivo.png" class="cover">
                </div>
                <div class="detalle">
                    <div class="listahead">
                        <h4>Pepito</h4>
                        <p class="tiempo">10:56</p>
                    </div>
                    <div class="sms">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur itaque a quas in
                            aliquam quasi reiciendis, beatae qui facere, possimus sed quod culpa aliquid dolore non
                            eveniet hic dignissimos.</p>
                        <b>2</b>
                    </div>
                </div>
            </div>

            <!-- chat 9 -->
            <div class="block">
                <div class="imgbx">
                    <img src="../../assets/chat_masivo.png" class="cover">
                </div>
                <div class="detalle">
                    <div class="listahead">
                        <h4>Pepito</h4>
                        <p class="tiempo">10:56</p>
                    </div>
                    <div class="sms">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur itaque a quas in
                            aliquam quasi reiciendis, beatae qui facere, possimus sed quod culpa aliquid dolore non
                            eveniet hic dignissimos.</p>
                        <b>2</b>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="izquierda">
        <div class="header">
            <div class="imgtext">
                <div class="userimg-superior">
                    <img src="../../assets/chat_masivo.png" alt="" class="cover">
                </div>
                <h4>Pedro vite<br>
                    <span>online</span>
                </h4>

            </div>
            <ul class="nav_icons">
                <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
            </ul>
        </div>



        <!-- chat box -->
        <div class="chatbox">
            <div class="mensaje mi_mensaje">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni accusamus eveniet maxime sint.
                    Fugiat ex iure dolores animi facere necessitatibus! Voluptas perspiciatis cum vero provident
                    repellat quidem laborum dolores cumque!</p>
            </div>
            <div class="mensaje frnd_mensaje">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni accusamus eveniet maxime sint.
                    Fugiat ex iure dolores animi facere necessitatibus! Voluptas perspiciatis cum vero provident
                    repellat quidem laborum dolores cumque!</p>
            </div>
            <div class="mensaje mi_mensaje">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni accusamus eveniet maxime sint.
                    Fugiat ex iure dolores animi facere necessitatibus! Voluptas perspiciatis cum vero provident
                    repellat quidem laborum dolores cumque!</p>
            </div>
            <div class="mensaje frnd_mensaje">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni accusamus eveniet maxime sint.
                    Fugiat ex iure dolores animi facere necessitatibus! Voluptas perspiciatis cum vero provident
                    repellat quidem laborum dolores cumque!</p>
            </div>
            <div class="mensaje mi_mensaje">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni accusamus eveniet maxime sint.
                    Fugiat ex iure dolores animi facere necessitatibus! Voluptas perspiciatis cum vero provident
                    repellat quidem laborum dolores cumque!</p>
            </div>
            <div class="mensaje frnd_mensaje">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni accusamus eveniet maxime sint.
                    Fugiat ex iure dolores animi facere necessitatibus! Voluptas perspiciatis cum vero provident
                    repellat quidem laborum dolores cumque!</p>
            </div>
        </div>
        <div class="chatbox_input">
            <input type="text" placeholder="ingrese el mensaje">
            <ion-icon name="send-sharp"></ion-icon>
        </div>
    </div>

    <!--chat input  -->

</div>