
  
  .container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    display: flex;
  }
  .container .derecha {
    position: relative;
    flex: 35%;  
    background: rgb(17,27,33);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .container .izquierda {
    position: relative;
    flex: 80%;
    background: #e5ddd5;
  }
  .container .izquierda::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background: url(https://i.pinimg.com/1200x/2b/60/94/2b609488b4711e06e40a213e24e55d77.jpg); 
      background-repeat: no-repeat;    
     background-size: cover; 
    
  }
  .header {
    position: relative;
    width: 100%;
    height: 60px;
    background: rgb(32,44,51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  }
  .userimg {
    position: relative;
    width: 100px;
    height: 45px;
    overflow: hidden;
    
  }
  .cover {
    position: absolute;
  left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .nav_icons{
  display: flex;
  
  }
  .nav_icons li{
    list-style: none;
    display: flex;
    cursor: pointer;
    color: #51585c;
    margin-left: 22px;
  }
  .search_chat{
  position: relative;
  width: 75%;
  height: 50px;
  background: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
 
  }
  .search_chat div{
    width: 100%;
  
  }
  .search_chat div input{
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
  }
  .search_chat div input::placeholder{
    color: #bbb;
  }
  .search_chat div ion-icon{
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 1.2rem;
  }
  .chat_lista{
    position: relative;
    height: calc(100% - 60px);
    overflow-y: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);   
  }
  .chat_lista .block{ 
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  
  }
  .chat_lista .block.activo{
  background:rgb(42,57,66) ;
  }
  .chat_lista .block:hover{
    background: rgb(42,57,66);
  }
  .chat_lista .block .imgbx{
  position: relative;
  min-width: 45px;
  height: 45px;
  background-color: #51585c;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  }
  .chat_lista .block .detalle{
    position: relative;
    width: 100%;
  }
  .chat_lista .block .detalle .listahead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .chat_lista .block .detalle .listahead h4{
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
  }
  .chat_lista .block .detalle .listahead .tiempo{
   font-size: 0.75em;
   color: #fff;
  }
  .chat_lista .block .detalle .listahead .tiempo{
    color: #fff;
  }
  .chat_lista .block.unread .detalle .listahead .tiempo{
    color: #07d755;
  }
  .sms{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sms p{
    color:#aaa ;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .sms b{
    background: #07d755;
    color:#fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
  }
  .imgtext{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgtext .userimg-superior {
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
     border-radius: 50%;
    cursor: pointer;
  }
  .imgtext h4{
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
    text-transform: uppercase;
    color: #fff;
  }
  .imgtext h4 span{
    font-size: 0.9em;
    color: #fff;
    text-transform: lowercase;
  }
  .chatbox {
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 20px;
    overflow-y: auto;
  }
  .mensaje{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
  }
  .mensaje p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 11px;
    background:rgb(0,92,75) ;
    border-radius: 10px ;
    font-size: 0.9em;
    color: #fff;
  }
  .mensaje p::before{
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg,rgb(0,92,75) 0%, rgb(0,92,75) 50%, transparent 50%, transparent);
  }
  
  .mi_mensaje{
    justify-content: flex-end;
  }
  .frnd_mensaje{
    justify-content: flex-start;
  }
  .frnd_mensaje p{
    background: rgb(32,44,51);
    text-align: left;
  }
  
  .mensaje.frnd_mensaje p::before{
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg,rgb(32,44,51) 0%, rgb(32,44,51) 50%, transparent 50%, transparent);
  }
  .chatbox_input{
    position: relative;
    width: 100%;
    height: 60px;
    background: rgb(32,44,51);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .chatbox_input ion-icon{
    cursor: pointer;
    font-size: 1.9em;
    color: #fff;
  }
  .chatbox_input input{
    position: relative;
    width: 100%;
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
    background: rgb(42,57,66);
    color: #fff;
  
  }

/* responsive */

@media (max-width: 600px) {
  .container {
    position: fixed;
    /* left: -250px; */
    left: 0;
  }
  .max-barra-lateral {
    left: 0;
    position: absolute;
  }
  .menu {
    display: flex;
  }
  .menu ion-icon:nth-child(2) {
    display: none;
  }
  main {
    margin-left: 0;
    position: relative;
  }
  main.min-main {
    margin-left: 0;
  }
}